<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logPrefix" value="OtherSql." />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>
    <typeAliases>
        <package name="com.cheng.zhuo.electronicpos.model"/>
    </typeAliases>
    <mappers>

    </mappers>
</configuration>